.profil-button{
    height: 45px;
    width: 45px;  
    font-size: x-large;
    border-radius: 48%;
    background-color:rgba(41, 44, 234, 0.3);
    color: black;
    cursor: pointer;
    border:none;
    margin-right: 0px;
}

.profil-button:hover{
    border: solid #5c29ea 1px;
}

.help-button:hover{
    cursor:pointer;
}