/*mise en forme des lignes de la liste*/
.list-item:hover{
    background-color: #F1F3F4;
}

/*mise en forme de la liste*/
.table .text {
    position: relative;
}
  
.table .text span {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
position: absolute;
width: 100%;
}

.text:before {
content: '';
display: inline-block;
}

/*mise en forme du bouton de suppression d'un élément de la liste*/
.item-delete{
    visibility:hidden;
}

.delete-icon{
    color: rgba(0, 0, 0, 0.6);
}

.item-delete:hover{
    cursor:pointer;
}

/*mise en forme du bouton de mise à jour d'un élément de la liste*/
.item-update{
    visibility:hidden;
}

.update-icon{
    color: rgba(0, 0, 0, 0.6);
}

.item-update:hover{
    cursor:pointer;
}

/*mise en forme des éléments de la liste pour diminuer la hauteur des lignes*/
.table-td{
    padding-top: 0px;
}

tbody tr:hover{
    border-radius: 5px;
    cursor: pointer;
    border-style: ridge;
    border-width: 2px 1px 2px 1px;
   
}

.pricing-indicator{
    margin-left: 10px;
}

/*mise en forme du menu de sélection pour le tri*/
.select-sort-input{
    border: solid 2px;
    border-radius: 5px;
}


